.contact {
    /* background: linear-gradient(rgb(156, 187, 190), white); */
    background-color: white;
}

.titleContact h1 {
    /* padding-top: 2%;
    padding-bottom: 2%; */
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    justify-self: center;
    align-self: center;
    margin-bottom: 3%;

}

.map {
    position: relative;
    overflow: hidden;
    margin-bottom: 5%;
}

.map iframe {
    position: relative;
}