.admin-panel1 {
  display: flex;
  flex-direction: column;
  /* margin: 20px;
  padding: 20px; */
  background-color: #f0f0f0;
  width: auto;
  /* height: 60vh; */
}

.auth {
  display: flex;
  height: 70vh;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.auth-form input {
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px;
  border: none;
  margin-bottom: 10px;
}

.auth-form button {
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: whitesmoke;
  width: 50%;
  background-color: rgb(64, 87, 141);
}

.admin-panel h2 {
  margin-bottom: 10px;
}

.data-list {
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data-list button {
  margin-top: 2%;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  text-decoration: none;
  color: whitesmoke;
  background-color: rgba(58, 79, 128);
  border: none;
  transition: 0.5s;
  font-size: 100%;
  font-weight: 400;
}

.data-list button:hover {
  background-color: rgba(58, 79, 128, 0.7);
}

.data-list a {
  text-decoration: none;
}

.AdminTitle h2 {
  margin: 3%;
  font-weight: 700;
  font-size: 250%;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}