.backgr {
    background: linear-gradient(rgb(156, 187, 190), white);
}

.doctors {
    margin: 0 5% 15% 5%;
}

.titleDoc h1 {
    padding-top: 5%;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    color: rgb(255, 255, 255);
}

ul.breadcrumb {
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

ul.breadcrumb li+li:before {
    padding: 5%;
    color: rgba(255, 255, 255);
    content: "-\00a0";
}

ul.breadcrumb li a {
    color: rgb(88, 175, 183);
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: rgb(9, 9, 9);
    text-decoration: none;
}

.textDoc {
    margin: 4% 0 0 0;
}

.textDoc p {
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    color: rgb(255, 255, 255);
}

.docBtn {
    margin: 2% 0 0 10%;
}

.docBtn a{
    text-decoration: none;
    color: white;
}

.docBtn button {
    text-decoration: none;
    border: none;
    margin-left: 20%;
    background-color: rgb(58, 79, 128);
    outline: none;
    width: 20%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0.3em 0.3em 0.6em rgba(49, 109, 103, 0.575);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    transition: 0.5s;
}

.docBtn button:hover {
    filter: brightness(1.2);
}

.photoDoc {
    display: grid;
    grid-template-columns: 27% 23% 23% 23%;
    grid-template-rows: repeat(3, 350px);
    margin: 5% 5% 5% 5%;
    grid-column-gap: 2%;
    grid-row-gap: 5%;
}

/* .ph {
    background-color: rgb(156, 187, 190);
} */

.noPhoto {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.stick {
    position: sticky;
    top: 20%;
    margin-left: -30%;
}

.stick h1 {
    vertical-align: middle;
    font-size: 90px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.05);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.photoDoc img {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: auto;
    transition: 1s;
}

.photoDoc img:hover {
    transform: scale(1.05);
}

.photoDoc p {
    font-size: 15px;
    text-align: center;
}

.photoDoc h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.ph {
    margin: 0;
}

/* .cart {
    position: relative;
    overflow: hidden;
}

.onea {
    color: #eee;
    font-size: 12px;
    position: absolute;
    top: 0px
}

.twoa {
    color: #eee;
    font-size: 12px;
    position: absolute;
    top: 14px;
}

.cart iframe {
    width: 560px;
    height: 400px;
    position: relative;

} */