.backgrPort {
    background: linear-gradient(rgb(156, 187, 190), white);
}

.portfolio {
    margin: 0 5% 0 5%;
}

.titlePort h1 {
    padding-top: 5%;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

ul.breadcrumbPort {
    text-align: left;
    list-style: none;
    padding: 0;
}

ul.breadcrumbPort li {
    display: inline;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}

ul.breadcrumbPort li+li:before {
    padding: 0.5%;
    color: rgba(0, 0, 0, 0.6);
    content: "-\00a0";
}

ul.breadcrumbPort li a {
    color: rgb(88, 175, 183);
    text-decoration: none;
}

ul.breadcrumbPort li a:hover {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.clinicalCase {
    display: grid;
    grid-template-columns: 50vw 40vw;
    /* grid-template-rows: repeat(1, 400px); */
    margin: 5% 5% 5% 0;
    grid-gap: 2%;
}

.case {
    background: none;
    margin-right: 20px;
}

.case img {
    height: auto;
    width: 25vw;
    border-radius: 20px;
}

.case h3 {
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1%;
    position: relative;
    width: 30vw;
    margin-left: 5%;
}

.case h3::before {
    content: "";
    position: absolute;
    left: -2%;
    bottom: -25%;
    width: 20%;
    height: 30%;
    transform: skew(-12deg) translateX(0);
    background: rgba(88, 175, 183, 0.5);
    z-index: 0;
    margin-left: 2%;
}

.case p {
    word-wrap: break-word;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 3%;
    text-align: left;
    margin-left: 5%;
}

.caseContainer {
    display: flex;
    flex-direction: row;
}

.Before, .After {
    width: 60%;
    margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
    .titlePort h1 {
        font-size: 40px;
    }

    .clinicalCase {
        display: flex;
        flex-direction: column;
    }

    .clinicalCase img {
        width: 90%;
        margin-top: 20px;
    }

    .case h3 {
        font-size: 25px;
    }

    .case p {
        font-size: 15px;
    }

    .portfolio {
        margin-bottom: 20px;
    }
}