.backgrPort {
    background: linear-gradient(rgb(156, 187, 190), white);
}

.portfolio {
    margin: 0 5% 0 5%;
}

.titlePort h1 {
    padding-top: 5%;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

ul.breadcrumbPort {
    text-align: left;
    list-style: none;
    padding: 0;
}

ul.breadcrumbPort li {
    display: inline;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}

ul.breadcrumbPort li+li:before {
    padding: 0.5%;
    color: rgba(0, 0, 0, 0.6);
    content: "-\00a0";
}

ul.breadcrumbPort li a {
    color: rgb(88, 175, 183);
    text-decoration: none;
}

ul.breadcrumbPort li a:hover {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

/* 
.textPort {
    margin: 4% 0 0 0;
}

.textPort p {
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10%;
}

.textPort a {
    text-decoration: none;
    color: rgb(88, 175, 183);
} */

.clinicalCase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 400px);
    grid-gap: 5%;
    margin: 5% 0 5% 0;
}

.case {
    background: none;
    /* border: 1px solid black; */
}

.case img {
    height: 100%;
    width: auto;
}

.case h3{
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1%;
    position: relative;
}

.case h3::before {
    content: "";
    position: absolute;
    left: -2%;
    bottom: -25%;
    width: 20%;
    height: 30%;
    /* transform: skew(-12deg) translateX(-50%); */
    background: rgba(88, 175, 183, 0.5);
    z-index: 0;
  }

  .case p {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 5%;
    text-align: left;
  }