.doctorContainer {
    margin: 3% 3% 8% 5%;
}

.DoctorCard {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 30% 60%;
}

.doctorContainer h1 {
    font-size: 250%;
    font-weight: 700;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

.DoctorCard p {
    margin-left: 5%;
    text-align: left;
    font-size: 110%;
}

.DoctorCard h2 {
    margin-left: 7%;
    font-size: 180%;
    font-weight: 700;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

.DoctorCard button {
    margin-top: 3%;
    text-decoration: none;
    border: none;
    background-color: rgb(58, 79, 128);
    outline: none;
    width: 45%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0.3em 0.3em 0.6em rgba(49, 109, 103, 0.575);
    color: rgb(255, 255, 255);
    font-size: 100%;
    font-weight: 500;
    padding: 0;
    transition: 0.5s;
}