.firstComponent {
    display: flex;
    margin: 0;
    height: 750px;
    background-size: cover;
    background-image: url("../../../IMG/young-handsome-physician-in-a-medical-robe-with-stethoscope.jpg");
}

.firstComponent::after {
    display: block;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
}

.WelcomeContainer {
    text-align: left;
    /* margin: 230px 200px 0px 100px; */
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.intro__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ccc url("../../../IMG/young-handsome-physician-in-a-medical-robe-with-stethoscope.jpg") no-repeat center center;
    background-size: cover;
}

.intro__media-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.intro__media::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
}

.intro__content {
    margin-top: auto;
    margin-bottom: auto;
    z-index: 8;
    justify-content: center;
    align-items: center;
}

.intro__content h1 {
    font-size: 50px;
    font-weight: bold;
    color: whitesmoke;
}

.intro__content p {
    font-size: 20px;
    color:whitesmoke;
}

.intro__content button {
    background-color: rgb(58, 79, 128);
    border: none;
    outline: none;
    text-decoration: none;
    width: 40%;
    height: 70px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 500;
    transition: 0.5s;
}

.intro__content button:hover {
    filter: brightness(1.2);
}



@media (max-width: 900px) {
    .intro__media-video {
        display: none;
    }

    video {
        display: none;
    }

    .intro__media::before {
        display: none;
    }

    .intro__content {
        padding: 20px;
    }

    .firstComponent {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .WelcomeContainer {
        margin: 50px 50px 0px 50px;
    }

    .WelcomeContainer h1 {
        font-size: 35px;
    }

    .WelcomeContainer p {
        font-size: 16px;
    }

    .WelcomeContainer button {
        width: 100%;
        height: 50px;
        font-size: 18px;
        margin-bottom: 40px;
    }
}