.firstComponent {
    display: flex;
    margin: 0;
    height: 750px;
    background-size: cover;
    background-image: url("../../../IMG/young-handsome-physician-in-a-medical-robe-with-stethoscope.jpg");
}

.WelcomeContainer {
    text-align: left;
    margin: 230px 200px 0px 100px;
}

.WelcomeContainer h1 {
    font-size: 50px;
    font-weight: bold;
}

.WelcomeContainer p {
    font-size: 20px;
}

.WelcomeContainer button {
    background-color: rgb(58, 79, 128);
    border: none;
    outline: none;
    text-decoration: none;
    width: 50%;
    height: 15%;
    border-radius: 10px;
    box-shadow: 0.3em 0.3em 0.6em rgb(49, 109, 103);
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 500;
    transition: 0.5s;
}

.WelcomeContainer button:hover {
    filter: brightness(1.2);
}

@media (max-width: 900px) {
    .firstComponent {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .WelcomeContainer {
        margin: 50px 50px 0px 50px;
    }

    .WelcomeContainer h1 {
        font-size: 35px;
    }

    .WelcomeContainer p {
        font-size: 16px;
    }

    .WelcomeContainer button {
        width: 100%;
        height: 50px;
        font-size: 18px;
        margin-bottom: 40px;
    }
}