.comments {
    background-color: white;
}

.comments h1 {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.ComBtn {
    display: grid;
    grid-template-columns: 61% 19%;
    margin: 0 10% 0 10%;
    background-color: rgba(163, 203, 207, 0.2);
    border-radius: 20px;
    margin-bottom: 5%;
}

.ComBtn p {
    padding: 3% 5% 1% 7%;
    text-align: left;
    font-size: 115%;
}

.BtnOtz {
    display: flex;
    align-items: center;
}

.BtnOtz button {
    margin-left: 20%;
    text-decoration: none;
    background: none;
    border: none;
    color: rgb(58, 79, 128);
    font-size: 18px;
    border-radius: 5px;
    height: 7vh;
    width: 150%;
    letter-spacing: 2px;
    font-weight: 600;
    border: 2px solid rgb(58, 79, 128);
    transition: 0.3s;
}

.BtnOtz button:hover {
    background-color: rgb(58, 79, 128);
    color: white;
}


.Otz {
    margin: 0 10% 5% 10%;
    border-top: 3px solid rgba(58, 79, 128, 0.7);
}

.Otz h2 {
    /* font-size: 180%; */
    font-weight: 600;
    margin: 0;
    padding: 1% 0 0 4%;
    text-align: left;
}

.Otz p {
    font-size: 115%;
    font-weight: 300;
    margin: 0;
    padding: 0 4%;
    text-align: left;
}

.Otz h6 {
    /* font-size: 115%; */
    font-weight: 700;
    margin: 0;
    padding: 1% 4%;
    text-align: left;
}

@media screen and (max-width:900px) {
    .ComBtn {
        display: flex;
        flex-direction: column;
    }

    .BtnOtz {
        padding: 5px;
    }

    .BtnOtz button {
        width: 70%;
    }

    .table-Coms {
        width: 100%;
    }
}