/* .admin-panel {
    margin: 20px;
    padding: 20px;
    height: 50vh;
    background-color: #f0f0f0;
  } */
.back-Btn {
  width: 100px;
  background-color: rgb(64, 87, 141);
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.admin-panel h2 {
  margin-bottom: 10px;
}

.data-list {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  margin-left: 5%;
}

.data-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data-item p {
  margin: 5px 0;
}

.delete-button {
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .data-list {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}