.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 450px;

}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  padding: 20px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 40px;
}

.btnPlaceholder {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.btnPlaceholder .next {
  background-color: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.btnPlaceholder .prev {
  background-color: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
}