.NB {
    background-color: rgb(156, 187, 190);
    width: 100%;
    display: flex;
    text-align: left;
    /* height: 500px; */
    flex-direction: row;
}
 
.LeftInf {
    display: flex;
    flex-direction: row;
    
}
tr {
    display: flex;
    flex-direction: row;
}