.navigationBar {
    display: grid;
    grid-template-columns: 7% 21% 40% 32%;
    background-color: rgba(245, 245, 245, 0.64);
    box-shadow: 0.3em 0.3em 3em rgba(1, 85, 71, 0.429);
    position: sticky;
    top: 0;
    z-index: 90;
}

.NavBarLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
}

.NavBarLinks a {
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    color: black;
    transition: 0.3s;
    white-space: nowrap;
}

.NavBarLinks a:hover {
    color: rgb(88, 175, 183);
}

.brandNameNavbar {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.brandNameNavbar h1 {
    margin: auto;
    width: 90%;
    font-size: 50px;
    font-weight: 600;
}

.brandNameNavbar img {
    margin: auto;
    width: 98px;
    height: 98px;
}

.contactInfoNavbar {
    display: grid;
    grid-template-columns: 50% 50%;
    align-self: center;
}

.contactBar1 {
    display: flex;
    flex-direction: column;
}

.contactBar2 {
    display: flex;
    flex-direction: column;
}

.contactInfoNavbar button {
    text-decoration: none;
    border: none;
    outline: none;
    background: none;
    color: rgb(88, 175, 183);
    transition: 0.1s;
    font-size: 16px;
    white-space: nowrap;
    margin: 0;
}

.contactInfoNavbar p {
    font-size: 16px;
    margin: 2%;
}

.contactInfoNavbar button:hover {
    color: rgb(68, 134, 140);
}

.kebabMenu {
    color: #ffffff;
    text-align: left;
    z-index: 100;
}

.kebabMenu a {
    color: #ffffff;
    transition: color 0.3s ease;
}

.kebabMenu a:hover {
    color: rgb(92, 160, 165);
}

#menuToggle {
    display: block;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 100;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    right: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
    -webkit-touch-callout: none;
}


#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 10;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span {
    transform: rotate(45deg) translate(-2px, -3px);
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg);
}

#menuToggle span:nth-last-child(3) {
    opacity: 0;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: translate(-2px, -1px);
    background: #232323;
}


#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 1;
    /* transform: rotate(0deg) scale(0.2, 0.2); */
}

#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    /* transform: translate(0, -1px); */
}

#menu {
    height: 1000px;
    position: absolute;
    width: 600px;
    margin: -120px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: 100px;
    background: rgb(156, 187, 190);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu a {
    text-decoration: none;
}

#menu li {
    margin: 0px 55px;
    padding: 7px 10px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border-left: 3px solid rgb(92, 160, 165);
}

#menuToggle input:checked~ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}

.priem {
    text-align: right;
}

.priem button {
    margin: 2% 0;
    font-size: 25px;
    font-weight: 700;
    border: none;
    color: rgb(92, 160, 165);
    background: none;
    transition: all 0.5s ease-out;
}

.priem button:hover {
    transform: translate(5%, 0);
    filter: brightness(0.8);
}

.infBar {
    display: grid;
    grid-template-columns: 30px 250px;
    grid-template-rows: 20px 20px;
    grid-gap: 15px;
    color: rgb(255, 255, 255);
    margin: 0px 65px 20px 65px;
}


.iconBar img {
    width: 90%;
    height: auto;
}

.textBar {
    padding-top: 1%;
    font-size: 15px;
    font-weight: 500;
}

.lastInf {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 60px;
    color: rgb(255, 255, 255);
    margin: 20px -30px 0px 65px;
}

.lastInf button {
    border: none;
    background-color: rgb(92, 160, 165);
    height: 100%;
    width: 100%;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.5s;
}

.lastInf button:hover {
    filter: brightness(0.8);
    color: #ffffff;
}

.socialBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    margin-left: 15px;
    text-align: center;
    margin-top: 5px;
}

.scBtn {
    filter: invert(1);
    transition: 0.1s;
}

.scBtn:hover {
    filter: invert(0.9);
}

#menuToggle input {
    z-index: 10;
}

#menuToggle span {
    z-index: 5;
}

@media screen and (max-width: 900px) {
    .navigationBar {
        display: flex;
        flex-direction: row;
        background-color: rgba(245, 245, 245, 0.64);
        box-shadow: 0.3em 0.3em 3em rgba(1, 85, 71, 0.429);
        position: sticky;
        top: 0;
        z-index: 90;
    }

    .brandNameNavbar {
        margin-left: auto;
        margin-right: auto;
        width: 55%;
    }

    .brandNameNavbar img{
        height: 82px;
        width: 82px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .brandNameNavbar h1 {
        margin-left: 0;
        margin-right: 0;
        font-size: 40px;
    }

    .NavBarLinks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: center;
    }

    .NavBarLinks {
        display: none;
    }

    .contactInfoNavbar {
        display: none;
    }

    #menu {
        height: 110%;
        position: fixed;
        width: 400px;
        margin: -100px 0 0 0;
        padding: 50px;
        padding-top: 125px;
        left: -400px;
        background: rgb(156, 187, 190);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu a {
        text-decoration: none;
    }

    #menu img {
        margin-left: 5px;
        height: 100%;
        width: auto;
    }
    
    #menu li {
        margin: 0px 55px;
        padding: 7px 10px;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        border-left: 3px solid rgb(92, 160, 165);
    }

    .lastInf {
        display: flex;
        flex-direction: column;
        grid-template-rows: 60px;
        color: rgb(255, 255, 255);
    }

    .lastInf button {
        height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #menuToggle input:checked~ul {
        transform: scale(1.0, 1.0);
        opacity: 1;
    }
}